<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBManager.LOG_FILE_PATH" value=""/>
    <add key="ConnectionString.DataSource" value=".\SQLEXPRESS" />
    <add key="ConnectionString.InitialCatalog" value="DBHealthCheck" />
    <add key="ConnectionString.UserId" value="Foo" />
    <add key="ConnectionString.Password" value="5XqMZspfIM8+IzsPa+emlQ==" />
  </appSettings>
</configuration>